<div class="install-box">
  <div class="blurb">
    <img src="{{maps[map]['title']}}"></img>
    <p>{{ map | translate}}</p>
  </div>
  <div class="install">
    <a class="play" ng-click="install = !install">{{'wanttoplay' | translate}}</a>
  </div>
  <div class="install" ng-show="install">
    <div>
      <h3>{{'instructions' | translate}}</h3>
      <ol class="instructions">
        <li>
          <a href="http://store.steampowered.com/about/" target="_blank">
            {{'install-1' | translate}}</a>
        </li>
        <li>
          <a href="steam://install/440" target="_blank">
            {{'install-2' | translate}}</a>
        </li>
        <li ng-if="maps[map]['level'] == 0">
          <a href="steam://url/CommunityFilePage/{{maps[map]['workid']}}" target="_blank">
            {{'install-3' | translate}}</a>
        </li>
        <li>
          <a href="steam://run/440//+map%20workshop%2f{{maps[map]['workid']}}" target="_blank">
            {{'install-4' | translate}}</a>
          <span class="glyphicon glyphicon glyphicon-exclamation-sign"></span>
        </li>
      </ol>
      <span class="glyphicon glyphicon-chevron-down" ng-click="install = !install"></span>
    </div>
  </div>
</div>
