<div class="carousel">
  <div class="carousel-inner" ng-transclude></div>

  <a role="button" href class="left carousel-control" ng-click="prev()"
     ng-class="{ disabled: isPrevDisabled() }" ng-show="slides.length > 1">
    <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">previous</span>
  </a>
  <a role="button" href class="right carousel-control" ng-click="next()"
     ng-class="{ disabled: isNextDisabled() }" ng-show="slides.length > 1">
    <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">next</span>
  </a>

  <table class="carousel-progress" ng-show="slides.length > 1" border="1" cellpadding="10px">
    <tr>
      <td ng-repeat="slide in slides | orderBy:indexOfSlide track by $index"
          ng-class="{ active: isActive(slide) }" ng-click="select(slide)">
        <span class="sr-only">slide {{ $index + 1 }} of {{ slides.length }}<span ng-if="isActive(slide)">, currently active</span></span>
      </td>
    </tr>
  </table>
</div>
