<div class="folio boxes" onload="layout()">
  <div class="box box-main">
    <div class="img-peak">
      <div class="peak">
      </div>
      <img src="static/images/code.jpg"></img>
    </div>
    <div class="blurb peaked">
      <h2>Did anyone say scripting?</h2>
      <p>
        You get to wear a lot of hats when you design levels and as it turns out, I'm very well versed in programming. It has helped me a lot in scripting some of the more complicated levels but there was no reason to stop there. I've been able to apply my knowledge on improving an engine's toolset for everyone and it was just as fun. These are some of the tools I've been working on to assist me in my level design adventures.
      </p>
    </div>
  </div>
  <div class="box box-main box-w2">
    <div class="blurb">
      <h2>CompilePal</h2>
      <p>
        CompilePal is one of those tools that asks a simple question. "What if, we could automate most of the tasks involved in compiling and publishing a level?". Well the answer would be CompilePal. It seemed impossible at first but we've taken every step of the process, steps that had been done by hand for over a decade, and figured out ways to completely automate them. That includes, building navigation meshes, baking reflections and most of all, a system that automatically builds a dependency tree of a level's interdependent assets and packages them neatly for distribution. To top it off we even automated compression, your level is now ready to ship. We have automated to a single click a process that, in some cases, could take up to a whole day. We've come a long way and now level designers are able iterate faster than ever. We're very proud to be able to say that There's the Source engine before CompilePal, and then there's Source after CompilePal.
      </p>
      <div class="git">
        <a href="https://github.com/ruarai/CompilePal">The project on github
          <img src="static/images/icons-03.png"/></a>
      </div>
    </div>
  </div>
  <div class="box box-main box-w2" ng-if="false">
    <div class="blurb">
      <h2 class="withsubs">Vmmc</h2>
      <i>Or the Valve Map Manifest Collapser</i>
      <p>
        Source is a weird engine, The level editor is chuck full of features but sometimes, those features are simply not supported by the level compiler. Vmmc aims to add support for some those features by preprocessing files for the compiler. In this case, we needed a tool to adds support for the editor's capability to chop levels into submaps and instances. As it turns out, being able to divide a level into smaller pieces is really crucial to achieving good version control. Having multiple smaller files means we can have better tracking of changes and allows us to have more concurrent designers working on the same level. This tool really needed to happen since people are starting to team up to build bigger and better.
      </p>
      <div class="git">
        <a href="https://github.com/ruarai/CompilePal">The project on github
          <img src="static/images/icons-03.png"/></a>
      </div>
    </div>
  </div>
  <div class="box box-h2 box-wx">
    <div class="img-peak-up">
      <div class="peak">
      </div>
      <img src="static/images/code.jpg"></img>
    </div>
    <div class="blurb peaked">
      <h2>Vradfix</h2>
      <p>
        Source's static lighting has been known to have weird issues. You can end up with lighting bleeding into areas where it shouldn't be or maybe you'll end up with weird artifacts, you never know. The bad part is that often times, there's no real solution to fixing it. For those special times when you're out of options, I've deleveloped a lightmap editor. For any given surface, the tool enables you to edit the color and brightness on its lightmap.
      </p>
      <div class="git">
        <a href="https://github.com/maxdup/VRADFix">The project on github
          <img src="static/images/icons-03.png"/></a>
      </div>
    </div>
  </div>
</div>
