<div class="folio boxes" onload="layout()">
  <div class="box box-main">
    <div class="img-peak">
      <div class="peak">
      </div>
      <img src="static/images/code.jpg"></img>
    </div>
    <div class="blurb peaked">
      <h2>{{'code-title' | translate}}</h2>
      <p>
        {{'code-intro' | translate}}
      </p>
    </div>
  </div>
  <div class="box box-main box-w2">
    <div class="blurb">
      <h2>CompilePal</h2>
      <p>
        {{'code-cpal' | translate}}
      </p>
      <div class="git">
        <a href="https://github.com/ruarai/CompilePal">{{'code-git' | translate}}
          <img src="static/images/icons-03.png"/></a>
      </div>
    </div>
  </div>
  <div class="box box-main box-w2">
    <div class="blurb">
      <h2 class="withsubs">Vmmc</h2>
      <i>{{'code-vmmc-st' | translate}}</i>
      <p>
        {{'code-vmmc' | translate}}
      </p>
      <div class="git">
        <a href="https://github.com/maxdup/VMMC">{{'code-git' | translate}}
          <img src="static/images/icons-03.png"/></a>
      </div>
    </div>
  </div>
  <div class="box box-h2 box-wx">
    <div class="img-peak-up">
      <div class="peak">
      </div>
      <img src="static/images/code.jpg"></img>
    </div>
    <div class="blurb peaked">
      <h2>Vradfix</h2>
      <p>
        {{'code-vrad' | translate}}
      </p>
      <div class="git">
        <a href="https://github.com/maxdup/VRADFix">{{'code-git' | translate}}
          <img src="static/images/icons-03.png"/></a>
      </div>
    </div>
  </div>
</div>
