<div class="folio boxes">
  <div class="box box-main">
    <div class="blurb">
      <h1>Vanguard</h1>
      Initially designed as a control point map for competitive play, Vanguard was an attempt at making a map focused around fast paced gameplay. The design of the map allows it to perform nicely in public play as well as in competitive environments. The goal was to make a map that rewards aggressive gameplay and good positioning. The result is a fast paced and punishing map that often results in a great back and forth game between the opposing teams.
    </div>
  </div>

  <div class="box" ng-click="v360()">360</div>
  <div class="box box-w2 box-h2">
    gallery
  </div>
  <div class="box box-w2">
    <div class="quote">
      Added to Team Fortress 2 as part of the <a href="http://www.teamfortress.com/toughbreak/">"Tough Break" update</a>
      <div class="date">(17/12/2015)</div>
    </div>
  </div>
  <div class="box">
    3D
  </div>

</div>
