<div class="boxes">
  <div class="box photo box-h2">
    <img src="static/images/photo2.jpg"></img>
  </div>
  <div class="box">
    <div class="status">
      <h4>{{'status' | translate}}</h4>
      <ul>
        <li>
          <b>{{'available' | translate}}</b> {{'hire' | translate}}
        </li>
        <li>
          <b>{{'available' | translate}}</b> {{'contract' | translate}}
        </li>
    </div>
  </div>

  <div class="box box-w2 blurb">
    <h2>{{'contact'|translate}}</h2>
    <p>{{'contactblurb'|translate}}<br/><i>{{'contacttrue'|translate}}</i></p>
  </div>
  <div class="box box-h2">
    <div class="contact">
      <h5>{{'findme'|translate}}</h5>
    </div>
    <div class="links">
      <ul>
        <li><a href="https://github.com/maxdup" target="_blank">
            <img title="my github" src="static/images/icons-03.png">Github</a>
        </li>
        <li><a href="https://www.youtube.com/channel/UCAWEmDvCDg7X-3AHJdpQqUQ" target="_blank">
            <img title="my youtube channel" src="static/images/icons-02.png">Youtube</a>
        </li>
        <li><a href="https://www.facebook.com/mdupuis" target="_blank">
            <img title="my facebook" src="static/images/icons-01.png">Facebook</a>
        </li>
        <li><a href="http://ca.linkedin.com/pub/maxime-dupuis/72/560/b11" target="_blank">
            <img title="my linkedin" src="static/images/icons-04.png">Linkedin</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="box">
    <div class="contact">
      <h5>{{'contactme'|translate}}</h5>
      <ul>
        <li>{{'address'|translate}}</li>
        <li>Montreal(Qc) H2E-1C9</li>
        <li>mdupuis@hotmail.ca</li>
        <li>514-546-0054</li>
        <li><b>{{'languages'|translate}}</b></li>
      </ul>
    </div>
  </div>
</div>
