<!--main-->
<box-main class="box box-main" map="effigy" maps="maps"> </box-main>

<!--360-->
<div class="box box-360" ng-click="change360('effigy')">
  <img align="center" src="static/images/icons-360.png"></img>
</div>

<!--carousel-->
<div class="box box-carousel effigy">
  <span class="glyphicon glyphicon-fullscreen fullscreen" ng-click="viewcarouselmodal('.effigy')"></span>
  <div class="slides_control" id="slides_control">
    <div uib-carousel active="active" template-url="static/partials/carousel.html">
      <div uib-slide ng-repeat="slide in maps.effigy.images" index="slide.id">
        <div class="modalable" ng-click="viewcarouselmodal('.effigy')"></div>
        <img ng-src="{{slide.image}}">
      </div>
    </div>
  </div>
</div>
<div class="box box-separator"/>
