<div class="folio boxes">
  <div class="box box-h2 box-w2">
    <div class="blurb">
      Hey, you landed on my page, good to have you here. I'm Maxime, sometimes I consider myself a designer. Some other times, my education reminds me I'm a software developer. Truth is, I'm just a builder; I like to make things. My favorite thing is when I get to make things that other people can experience. This is what I like to do more than anything else. This disposition got me into level design. The Team Fortress 2 community has been my test-bed of choice for a lot of different design experiments but also a phenomenal place to iterate on gameplay ideas and develop great experiences. It's where I got my start as a level designer... and so the story begins!
    </div>
  </div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box box-w2"></div>
  <div class="box"></div>
  <div class="box"></div>
</div>
