<div class="folio boxes">
  <div class="box box-main offset">
    <div class="blurb">
      <h2>{{'welcome' | translate}}</h2>
      {{'intro' | translate}}
    </div>
  </div>
  <div class="box box-map-thumbnail a">
    <a href="#/commercial">
      <div class="highlight"></div>
      <img class="bg" src="static/images/vanguard/thumbnail.jpg"/>
      <img class="title" src="static/images/vanguard/vanguard.png"/>
    </a>
  </div>
  <div class="box box-map-thumbnail b offset">
    <a href="#/hobby">
      <div class="highlight"></div>
      <img class="bg" src="static/images/occult/thumbnail.jpg"/>
      <img class="title" src="static/images/occult/occult.png"/>
    </a>
  </div>
  <div class="box box-map-thumbnail c">
    <a href="#/hobby/hadal">
      <div class="highlight"></div>
      <img class="bg" src="static/images/hadal/thumbnail.jpg"/>
      <img class="title" src="static/images/hadal/hadal.png"/>
    </a>
  </div>
  <div class="box box-map-thumbnail d offset">
    <a href="#/hobby/effigy">
      <div class="highlight"></div>
      <img class="bg" src="static/images/effigy/thumbnail.jpg"/>
      <img class="title" src="static/images/effigy/effigy.png"/>
    </a>
  </div>
  <div class="box box-separator"></div>
</div>
