<div class="folio boxes">
  <div class="box box-main offset">
    <div class="blurb">
      <h2>Welcome to my portfolio</h2>
      Hi, I'm Maxime. Some will say I'm a designer, others will call me a software developer. Truth is, I'm just a builder; I like to make things. My favorite thing is when I get to make things that other people can experience. This is what I'm all about. My infatuation with crafting experiences is what got me into level design. The Team Fortress 2 community has been my testbed of choice for many different design experiments but also a phenomenal place to iterate on gameplay ideas and develop great experiences. It's where I got my start as a level designer... it's where the story began!
    </div>
  </div>
  <div class="box box-map-thumbnail a">
    <a href="#/commercial">
      <img class="bg" src="static/images/vanguard/thumbnail.jpg"/>
      <img class="title" src="static/images/vanguard/vanguard.png"/>
    </a>
  </div>
  <div class="box box-map-thumbnail b offset">
    <a href="#/hobby">
      <img class="bg" src="static/images/occult/thumbnail.jpg"/>
      <img class="title" src="static/images/occult/occult.png"/>
    </a>
  </div>
  <div class="box box-map-thumbnail c">
    <a href="#/hobby/hadal">
      <img class="bg" src="static/images/hadal/thumbnail.jpg"/>
      <img class="title" src="static/images/hadal/hadal.png"/>
    </a>
  </div>
  <div class="box box-map-thumbnail d offset">
    <a href="#/hobby/effigy">
      <img class="bg" src="static/images/effigy/thumbnail.jpg"/>
      <img class="title" src="static/images/effigy/effigy.png"/>
    </a>
  </div>
</div>
