<div class="box box-main">
  <div class="blurb">
    <img src="static/images/hadal/hadal.png"></img>
    <p>
      Featuring a completely new visual theme, the control point of this map is an old relic with unknown powers. We don’t know why Blue and Red are fighting over it but it looks important! They have no idea what that thing has in store for them however. I consider this map to be one of my finest work for the technical achievement it represents. The map features many special effects of my own including complex animations, particle systems and textures that use source’s shaders at their fullest.
    </p>
  </div>
</div>
<div class="box box-carousel hadal">
  <span class="glyphicon glyphicon-fullscreen fullscreen" ng-click="viewmodal('.hadal')"></span>
  <div class="slides_control" id="slides_control">
    <carousel >
      <slide ng-repeat="slide in hadal_imgs" active="slide.active">
        <div class="modalable" ng-click="viewmodal('.hadal')"></div>
        <img ng-src="{{slide.image}}">
      </slide>
    </carousel>
  </div>
</div>
<div class="box v360" ng-click="change360(2)">
  <img align="center" src="static/images/icons-360.png"></img>
</div>
<div class="box">3D Viewer</div>
<div class="box box-separator"/>
