<!--main-->
<box-main class="box box-main" map="hadal" maps="maps"> </box-main>

<!--carousel-->
<div class="box box-carousel hadal" important="2">
  <span class="glyphicon glyphicon-fullscreen fullscreen" ng-click="viewcarouselmodal('.hadal')"></span>
  <div class="slides_control" id="slides_control">
    <div uib-carousel active="active" template-url="static/partials/carousel.html">
      <div uib-slide ng-repeat="slide in maps.hadal.images" index="slide.id">
        <div class="modalable" ng-click="viewcarouselmodal('.hadal')"></div>
        <img ng-src="{{slide.image}}">
      </div>
    </div>
  </div>
</div>

<!--3D-->
<box3d map="hadal" maps="maps"/>

<!--360-->
<div class="box box-360" ng-click="change360('hadal')" important="2">
  <img align="center" src="static/images/icons-360.png"></img>
</div>

<div class="box box-separator" important="3"/>
