<div class="folio boxes">
  <div class="box box-main">
    <div class="blurb">
      <h1>Occult</h1>
      Featuring a completely new visual theme, the control point of this map is an old relic with unknown powers. We don’t know why Blue and Red are fighting over it but it looks important! They have no idea what that thing has in store for them however. I consider this map to be one of my finest work for the technical achievement it represents. The map features many special effects of my own including complex animations, particle systems and textures that use source’s shaders at their fullest.    </div>
  </div>
  <div class="box box-w2">
    <div class="quote">
      <a href="pcgamer.jpg" target="_blank">
        <i>"Great TF2 community map"</i> <br />-PCGamer
      </a>
      <div class="date">(2015, April)</div>
    </div>
  </div>
  <div class="box" ng-click="v360()">360</div>
  <div class="box">
    3D
  </div>
  <div class="box box-w2 box-h2">
    Gallery
  </div>

  <div class="box box-separator"></div>

  <div class="box box-main">
    <div class="blurb">
      <h1>Hadal</h1>
      Featuring a completely new visual theme, the control point of this map is an old relic with unknown powers. We don’t know why Blue and Red are fighting over it but it looks important! They have no idea what that thing has in store for them however. I consider this map to be one of my finest work for the technical achievement it represents. The map features many special effects of my own including complex animations, particle systems and textures that use source’s shaders at their fullest.
    </div>
  </div>
  <div class="box box-w2 box-h2">
    gallery
  </div>
  <div class="box" ng-click="v360()">360</div>
  <div class="box">3D</div>

  <div class="box box-separator"></div>

  <div class="box box-main">
    <div class="blurb">
      <h1>Effigy</h1>
      Featuring a completely new visual theme, the control point of this map is an old relic with unknown powers. We don’t know why Blue and Red are fighting over it but it looks important! They have no idea what that thing has in store for them however. I consider this map to be one of my finest work for the technical achievement it represents. The map features many special effects of my own including complex animations, particle systems and textures that use source’s shaders at their fullest.
    </div>
  </div>
  <div class="box box-w2 box-h2">
    Gallery
  </div>
  <div class="box" ng-click="v360()">360</div>
</div>
