<div class="towers">
  <a class="tower sms" href="#/sms">
    <div class="title">Sms</div>
  </a>

  <a class="tower blog" href="">
    <div class="title">Folio</div>
  </a>

  <a class="tower" href="">
    <div class="title">-</div>
  </a>

  <a class="tower" href="">
    <div class="title">-</div>
  </a>

  <a class="tower" href="">
    <div class="title">-</div>
  </a>

  <a class="tower" href="">
    <div class="title">-</div>
  </a>

  <a class="tower test" href="#/test">
    <div class="title">Test</div>
  </a>

</div>
