<div class="towers">
  <a class="tower sms" href="#/sms">
    <div class="title">Sms</div>
  </a>

  <a class="tower" href="">
    <div class="title">-</div>
  </a>

  <a class="tower" href="">
    <div class="title">-</div>
  </a>

  <a class="tower" href="">
    <div class="title">-</div>
  </a>

  <a class="tower blog" href="http://mdupuis.com">
    <div class="title">Folio</div>
  </a>

  <a class="tower seed" href="http://www.mdupuis.com:8080">
    <div class="title">Seed</div>
  </a>

  <a class="tower test" href="#/test">
    <div class="title">Test</div>
  </a>

</div>
