<!doctype html>
 <html lang="en" ng-app="folioApp">
<head>
  <meta charset="utf-8">
  <title>Maxime Dupuis</title>
  <base href="/"/>
  <link href="static/css/main.min.css" rel="stylesheet"/>
  <script src="static/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="static/js/jqextras.js"></script>
  <script src="static/js/angular.js"></script>
  <script src="static/js/three.js"></script>
  <script src="static/js/meta.js"></script>
  <script src="static/js/main.min.js"></script>

  <link rel="apple-touch-icon" sizes="57x57" href="static/images/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="static/images/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="static/images/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="static/images/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="static/images/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="static/images/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="static/images/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="static/images/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="static/images/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="static/images/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="static/images/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="static/images/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="static/images/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>

<body ng-controller="RootController" style="overflow:hidden;">
  <div id="portfolio">
    <div class="container-pullback" ng-show="v360focus">
      <span class="glyphicon glyphicon-menu-right" style="font-size:300px;" ng-click="v360()">
    </div>
    <div class="controls" ng-show="v360focus">
      <div class="controls" ng-show="!cshow && !controlsGlimpse">
        <div class="controls360">
          <span class="glyphicon glyphicon-info-sign" ng-mouseenter="cshow=true"/>
        </div>
      </div>
      <div class="controls" ng-show="cshow || controlsGlimpse" ng-mouseleave="cshow=false">
        <div class="controls360" ng-mouseenter="cshow=true" ng-mouseleave="cshow=false">
          <img src="static/images/icons-lcpan.png"/>
          <img src="static/images/icons-mczoom.png"/>
        </div>
      </div>
    </div>
    <div id="curtain" class="container-curtain" ng-hide="show"></div>
    <div class="container" ng-hide="v360focus">
      <div class="page-margin" ng-click="v360()"></div>
      <div class="page-centering">
        <div class="page-background"></div>
        <div class="page">
          <div ng-include="'static/partials/nav.html'"></div>
          <div class="content">
            <div class="scrollbox">
              <div ng-view ng-class="{ reverse: reverse}" class="scrollbox-padded view"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
