<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <div class="main-decorator">{{'nav-title'| translate}}</div>
    <a class="main" href="#/home">Maxime Dupuis</a>
    <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <div class="lang">
    <a ng-class="{active: active_lang == 'en'}" ng-click="translate('en')">En</a>&nbsp|&nbsp
    <a ng-class="{active: active_lang == 'fr'}" ng-click="translate('fr')">Fr</a>
  </div>

  <div class="navbar-collapse" uib-collapse="isNavCollapsed">
    <ul class="nav navbar-nav">
      <li>
        <span class="navbar-sep"> | </span>
        <a href="#/commercial" ng-class="{ active: isActive('/commercial')}">
          {{'nav-commercial' | translate}}</a>
      </li>
      <li>
        <span class="navbar-sep"> | </span>
        <a href="#/hobby" ng-class="{ active: isActive('/hobby')}">
          {{'nav-hobby' | translate}}</a>
      </li>
      <li>
        <span class="navbar-sep"> | </span>
        <a href="#/code" ng-class="{ active: isActive('/code')}">
          {{'nav-code' | translate}}</a>
      </li>
      <li>
        <span class="navbar-sep"> | </span>
        <a href="#/contact" ng-class="{ active: isActive('/contact')}">
          {{'nav-contact' | translate}}</a>
      </li>
    </ul>
  </div>

</nav>

