<!--main-->
<box-main class="box box-main" map="occult" maps="maps"> </box-main>

<!--360-->
<box3d map="occult" maps="maps"/>

<!--carousel-->
<div class="box box-carousel occult">
  <span class="glyphicon glyphicon-fullscreen fullscreen" ng-click="viewcarouselmodal('.occult')"></span>
  <div class="slides_control" id="slides_control">
    <div uib-carousel active="active" template-url="static/partials/carousel.html">
      <div uib-slide ng-repeat="slide in maps.occult.images" index="slide.id">
        <div class="modalable" ng-click="viewcarouselmodal('.occult')"></div>
        <img ng-src="{{slide.image}}">
      </div>
    </div>
  </div>
</div>

<!--quote-->
<div class="box box-w2 box-click" ng-click="viewimagemodal('static/images/pcgamer.jpg')">
  <div class="quote">
    <a>
      <i>{{'pcgamer' | translate}}</i> <br />-PCGamer
    </a>
    <div class="date">(2015, April)</div>
  </div>
</div>

<!--3D-->
<div class="box box-360" ng-click="change360('occult')">
  <img align="center" src="static/images/icons-360.png"></img>
</div>

<div class="box box-separator"/>
