<h1>Test Area</h1>

<button class="btn" ng-click="notify()">notifysms</button>

<form>
  <label>number</label>
  <input type="text" class="form-control" ng-model="number"></input>
  <label>messge</label>
  <input type="text" class="form-control" ng-model="msg"></input>
</form>
<button class="btn" ng-click="message()">sendsms</button>

<form>
  <label>number</label>
  <input type="text" class="form-control" ng-model="cnumber"></input>
  <label>name</label>
  <input type="text" class="form-control" ng-model="cname"></input>
</form>
<button class="btn" ng-click="add_contact()">sendsms</button>
<button class="btn" ng-click="testaddto()">add "to" number</button>
