<!--main-->
<box-main class="box box-main" map="vanguard" maps="maps"> </box-main>

<!--3D-->
<box3d map="vanguard" maps="maps"/>

<!--carousel-->
<div class="box box-carousel vanguard">
  <span class="glyphicon glyphicon-fullscreen fullscreen" ng-click="viewcarouselmodal('.vanguard')"></span>
  <div class="slides_control" id="slides_control">
    <carousel template-url="static/partials/carousel.html">
      <slide ng-repeat="slide in maps.vanguard.images" active="slide.active">
        <div class="modalable" ng-click="viewcarouselmodal('.vanguard')"></div>
        <img ng-src="{{slide.image}}">
      </slide>
    </carousel>
  </div>
</div>

<!--update page-->
<a class="box box-w2 box-click" href="http://www.teamfortress.com/toughbreak/" target="_blank">
  <div class="quote">
    {{'toughbreak' | translate}}<b>{{'toughbreak2' | translate}}</b>
    <div class="date">(17/12/2015)</div>
  </div>
</a>

<!--360-->
<div class="box box-360" ng-click="change360('vanguard')">
  <img align="center" src="static/images/icons-360.png"></img>
</div>
