<!doctype html>
<html lang="en" ng-app="skylarApp">
<head>
  <meta charset="utf-8">
  <title>Skylar Torres</title>
  <link href="static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/css/main.css" rel="stylesheet">

  <script src="static/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="static/bower_components/underscore/underscore-min.js"></script>
  <script src="static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

  <script src="static/bower_components/angular/angular.js"></script>
  <script src="static/bower_components/angular-route/angular-route.js"></script>
  <script src="static/bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="static/bower_components/angular-resource/angular-resource.min.js"></script>
  <script src="static/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

  <script src="static/js/app.js"></script>

  <script src="static/js/services.js"></script>
  <script src="static/js/sms_controller.js"></script>
</head>

<body ng-controller="RootController">
  <div class="container">
    <nav class="navbar navbar-default navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#/home">Skylar Torres</a>
        </div>
      </div>
    </nav>

    <div ng-view></div>
  </div>
</body>
</html>
