<!doctype html>
<html lang="en" ng-app="folioApp">
<head>
  <meta charset="utf-8">
  <title>Maxime Dupuis</title>
  <link href="static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/css/main.css" rel="stylesheet">

  <script src="static/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="static/bower_components/underscore/underscore-min.js"></script>

  <script src="static/bower_components/angular/angular.js"></script>
  <script src="static/bower_components/angular-animate/angular-animate.js"></script>
  <script src="static/bower_components/angular-route/angular-route.js"></script>
  <script src="static/bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="static/bower_components/angular-resource/angular-resource.min.js"></script>
  <script src="static/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="static/bower_components/three.js/build/three.min.js"></script>
  <script src="static/bower_components/three.js/examples/js/renderers/CanvasRenderer.js"></script>
  <script src="static/bower_components/three.js/examples/js/renderers/Projector.js"></script>

  <script src="static/js/folioapp.js"></script>
  <script src="static/js/portfolio_controller.js"></script>
</head>

<body ng-controller="RootController" style="overflow:hidden;">
  <div id="portfolio">
    <div class="container-pullback" ng-show="bgfocus" ng-click="bgfocus=!bgfocus"></div>
    <div class="container" ng-hide="bgfocus">
      <div class="content-margin" ng-click="bgfocus=!bgfocus"></div>
      <div class="content">
        <nav class="navbar navbar-default navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#/home">Maxime Dupuis</a>
            </div>
          </div>
        </nav>
        <div ng-view></div>
      </div>
      <div class="content-margin" ng-click="hide"></div>
    </div>
  </div>
</body>
</html>
