<!doctype html>
 <html lang="en" ng-app="folioApp">
<head>
  <meta charset="utf-8">
  <title>Maxime Dupuis</title>
  <link href="static/bower_components/reset-css/reset.css" rel="stylesheet">
  <link href="static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/css/main.css" rel="stylesheet">


  <script src="static/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="static/bower_components/jquery-mousewheel/jquery.mousewheel.min.js"></script>
  <!--<script src="static/bower_components/underscore/underscore-min.js"></script>-->

  <script src="static/bower_components/angular/angular.js"></script>
  <script src="static/bower_components/angular-animate/angular-animate.js"></script>
  <script src="static/bower_components/angular-route/angular-route.js"></script>
  <script src="static/bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="static/bower_components/angular-resource/angular-resource.min.js"></script>
  <script src="static/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="static/bower_components/angular-modal-service/dst/angular-modal-service.min.js"></script>
  <script src="static/bower_components/angular-translate/angular-translate.min.js"></script>


  <script src="static/bower_components/three.js/build/three.min.js"></script>
  <script src="static/bower_components/three.js/examples/js/loaders/OBJLoader.js"></script>
  <script src="static/bower_components/three.js/examples/js/controls/OrbitControls.js"></script>
  <script src="static/bower_components/three.js/examples/js/renderers/CanvasRenderer.js"></script>
  <script src="static/bower_components/three.js/examples/js/renderers/Projector.js"></script>

  <!--<script src="static/bower_components/three.js/examples/js/shaders/UnpackDepthRGBAShader.js"></script>
  <script src="static/bower_components/three.js/examples/js/utils/ShadowMapViewer.js"></script>
  <script src="static/bower_components/three.js/examples/js/libs/stats.min.js"></script>-->


  <script src="static/bower_components/isotope/dist/isotope.pkgd.min.js"></script>
  <script src="static/bower_components/masonry/dist/masonry.pkgd.js"></script>
  <script src="static/bower_components/isotope-masonry-horizontal/masonry-horizontal.js"></script>

  <script src="static/js/folioapp.js"></script>
  <script src="static/js/root_controller.js"></script>
  <script src="static/js/portfolio_controller.js"></script>
  <script src="static/js/portfolio_locale.js"></script>
</head>

<body ng-controller="RootController" style="overflow:hidden;">
  <div id="portfolio">
    <div class="container-pullback" ng-show="v360focus" ng-click="v360()"></div>
    <div id="curtain" class="container-curtain" ng-hide="show"></div>
    <div class="container" ng-hide="v360focus">
      <div class="page-margin" ng-click="v360()"></div>
      <div class="page-centering">
        <div class="page-background"></div>
        <div class="page">
          <nav>
            <div class="main-decorator">Level Designer</div>
            <a class="main" href="#/home">Maxime Dupuis</a> |
            <a href="#/commercial" ng-class="{ active: isActive('/commercial')}">Commercial work</a> |
            <a href="#/hobby" ng-class="{ active: isActive('/hobby')}">Hobby projects</a> |
            <a href="#/code" ng-class="{ active: isActive('/code')}">++</a> |
            <a href="#/contact" ng-class="{ active: isActive('/contact')}">Contact</a>
            |
            <a ng-click="translate('en')">en</a> |
            <a ng-click="translate('fr')">fr</a> |
          </nav>
          <div class="content">
            <div class="scrollbox">
              <div ng-view ng-class="{ reverse: reverse}" class="scrollbox-padded view"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
