div {
    font-family: Tahoma, Geneva, sans-serif;
}
container {
    width: 1000px;
}

.tower {
    display: inline-block;
    border-radius: 8px;
    width: 150px;
    height: 400px;
    background: #828;
    margin-right: 20px;

    &.test{
        background: #288;
    }

    .title {
        color: white;
        weight: bold;
        font-size: 120px;
        text-indent: -90px;
        line-height: 80px;
        
        -webkit-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;

        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);

    }
}