container {
    width: 1000px;
}
body {
    margin: 0px;
}

#portfolio {

    nav {
        padding-top:40px;
        font-size: 30px;
        color: white;

        .main-decorator {
            color: white;
            font-size: 17px;
            margin: -12px -30px;
        }
        .main {
            font-weight: bold;
        }
        a {
            color: white;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    }
    .container {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 0;
        margin-left: 0;
        transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    }
    .container.ng-hide {
        margin-left: 100%;
        opacity: 0;
    }

    .container-pullback {
        position: absolute;
        height: 300px;
        width: 20px;
        top: 0; bottom: 0; right: 0; left: 0;
        margin: auto;
        margin-right: 20px;
        background: #909090;
        transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    }
    .container-pullback.ng-hide {
        margin-right: 100%;
        opacity: 0;
    }

    .content {
        width: 100%;
        height: 80%;
        background: #202020;
        opacity: 0.95;
        padding: 20px 100px;
        transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    }

    .content-margin {
        width: 100%;
        height: 10%;
    }
    @font-face {
        font-family: "Roboto";
        src: url("../font/roboto/Roboto-Thin.woff2") format("woff2"), url("../font/roboto/Roboto-Thin.woff") format("woff"), url("../font/roboto/Roboto-Thin.ttf") format("truetype");
        font-weight: 200; }

    @font-face {
        font-family: "Roboto";
        src: url("../font/roboto/Roboto-Light.woff2") format("woff2"), url("../font/roboto/Roboto-Light.woff") format("woff"), url("../font/roboto/Roboto-Light.ttf") format("truetype");
        font-weight: 300; }

    @font-face {
        font-family: "Roboto";
        src: url("../font/roboto/Roboto-Regular.woff2") format("woff2"), url("../font/roboto/Roboto-Regular.woff") format("woff"), url("../font/roboto/Roboto-Regular.ttf") format("truetype");
        font-weight: 400; }

    @font-face {
        font-family: "Roboto";
        src: url("../font/roboto/Roboto-Medium.woff2") format("woff2"), url("../font/roboto/Roboto-Medium.woff") format("woff"), url("../font/roboto/Roboto-Medium.ttf") format("truetype");
        font-weight: 500; }

    @font-face {
        font-family: "Roboto";
        src: url("../font/roboto/Roboto-Bold.woff2") format("woff2"), url("../font/roboto/Roboto-Bold.woff") format("woff"), url("../font/roboto/Roboto-Bold.ttf") format("truetype");
        font-weight: 700; }

    div {
        line-height: 1.5;
        font-family: "Roboto", sans-serif;
        font-weight: normal;
        color: rgba(0, 0, 0, 0.87);
    }

    html {
        line-height: 1.5;
        font-family: "Roboto", sans-serif;
        font-weight: normal;
        color: rgba(0, 0, 0, 0.87); }

    h1, h2, h3, h4, h5, h6 {
        font-weight: 400;
        line-height: 1.1; }

    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
        font-weight: inherit; }

    h1 {
        font-size: 4.2rem;
        line-height: 110%;
        margin: 2.1rem 0 1.68rem 0; }

    h2 {
        font-size: 3.56rem;
        line-height: 110%;
        margin: 1.78rem 0 1.424rem 0; }

    h3 {
        font-size: 2.92rem;
        line-height: 110%;
        margin: 1.46rem 0 1.168rem 0; }

    h4 {
        font-size: 2.28rem;
        line-height: 110%;
        margin: 1.14rem 0 0.912rem 0; }

    h5 {
        font-size: 1.64rem;
        line-height: 110%;
        margin: 0.82rem 0 0.656rem 0; }

    h6 {
        font-size: 1rem;
        line-height: 110%;
        margin: 0.5rem 0 0.4rem 0; }

    em {
        font-style: italic; }

    strong {
        font-weight: 500; }
}


.tower {
    display: inline-block;
    border-radius: 8px;
    width: 144px;
    height: 400px;
    background: #888;
    margin-right: 18px;

    &:last-child { margin-right: 0; }
    &:hover { text-decoration: none; }
    &.test { background: #848; }
    &.sms { background: #4f4; }
    &.blog { background: #f44; }
    &.seed { background: #4ff; }

    .title {
        color: white;
        weight: bold;
        font-size: 120px;
        text-indent: -70px;
        line-height: 80px;

        -webkit-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;

        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

.sms {
    .col-md-4{
        padding-left: 0px;
    }
    .col-md-8{
        .col-md-4;
        padding-right: 0px;
    }
    .panel {
        background: #eee;
        border: 1px solid #e8e8e8;
        border-radius: 8px;
        min-height: 400px;
        padding: 10px;

        h3 {
            color: #666;
            padding-left: 4px;
        }

        .reply {
            position: absolute;
            bottom: 30px;
            padding-right: 10px;
        }
        .contact {
            background: #e8e8e8;
            border: 1px solid #ddd;
            margin-bottom: 5px;
            min-height: 40px;
            font-size: 16px;
            font-weight: bold;
            color: #444;
            padding: 2px;
            input{
                margin-bottom: 2px;
            }
            button{
                margin-left: 2px;
            }
            .number {
                color: #aaa;
                font-size: 14px;
                font-weight: 100;
                float: right;
                padding: 6px;
            }
            .name {
                line-height: 34px;
                margin: 8px;
            }
            .btn { float: right; }
        }
    }
}

span.clear { clear: right; display: block; }