container {
    width: 1000px;
}
body {
    margin: 0px;
}

#portfolio {

    nav {
        padding-left: 100px;
        padding-top: 60px;
        font-size: 30px;
        color: white;

        .main-decorator {
            color: white;
            font-size: 17px;
            margin: -12px -30px;
        }
        .main {
            font-weight: bold;
        }
        a {
            color: white;
            text-decoration: none;
            &.active {
                text-decoration: underline;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .container {
        display: table;
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 0;
        margin-left: 0;
        transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    }
    .container.ng-hide {
        margin-left: 100%;
        opacity: 0;
    }

    .container-pullback {
        position: absolute;
        height: 300px;
        width: 20px;
        top: 0; bottom: 0; right: 0; left: 0;
        margin: auto;
        margin-right: 20px;
        background: #909090;
        transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    }
    .container-pullback.ng-hide {
        margin-right: 100%;
        opacity: 0;
    }
    .container-curtain {
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: black;
        opacity: 1;
        transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    }
    .container-curtain.ng-hide{
        opacity: 0;
    }

    .page-base {
        position: relative;
        max-height: 840px;
        width: 100%;
        height: 94%;
    }
    .page-centering {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
    }
    .page {
        .page-base;
        transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    }
    .page-background {
        .page-base;
        position: absolute;
        background: #202020;
        opacity: 0.90;
    }
    .page-padded {
        padding: 20px 100px;
    }
    .page-margin {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .content {
        position: absolute;
        top: 120px;
        bottom: 60px;
        right: 0;
        left: 0;
        overflow: auto;
        padding-left: 100px;
    }


    .scrollbox {
        height: 100%;
        overflow-x: visible;
        overflow-y: hidden;
    }
    .scrollbox-padded {
        position: absolute;
        top:0;
        left:100px;
        right:0;
        bottom: 20px;
        white-space: nowrap;
        display: block;
    }
    .view {
        &.ng-enter {
            transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
            display:block;
            overflow: hidden;
        }
        &.ng-leave {
            transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
            display:block;
            overflow: hidden;
        }
        &.ng-enter {
            left:100%;
        }
        &.ng-enter.ng-enter-active {
            left:100px;
        }
        &.ng-leave.ng-leave-active {
            opacity: 0;
        }
        &.reverse {
            &.ng-enter {
                left:-100%;
            }
            &.ng-enter.ng-enter-active {
                left:100px;
            }
        }
    }
    .boxes {
        height: 100%;
        overflow: hidden;
        display: inline-block;
        white-space: normal;
    }
    .box {
        float: left;
        width: 290px;
        height: 190px;
        background: black;
        color: white;
        margin-right: 10px;
        margin-bottom: 10px;
        overflow: hidden;
        max-height: 590px;
        &.offset {
            margin-top: 40px;
            height: 90%;
            max-height: 540px;
        }
    }
    .box-main {
        .box-wx;
        height: 100%;
        overflow: auto;
    }
    .box-w2 { width: 590px; }
    .box-h2 { height: 390px; }
    .box-wx { width: 440px; }
    .box-hx {
        height: 100%;
        max-height: 590px;
    }

    .box-welcome {
        .box-wx;
        .box-h2;
    }

    .box-separator {
        height:100%;
        width: 40px;
        opacity: 0;
    }
    .box-map-thumbnail {
        height: 90%;
        max-height: 540px;

        .title {
            position: absolute;
            height: auto;
            width: 290px;
            bottom: 0;
        }
        .bg{
            position: absolute;
            left: 0;
            margin-left: -18%;
            width: auto;
            height: 100%;
        }
        &.a { width: 390px; }
        &.b { width: 340px; }
        &.c { width: 290px; }
        &.d { width: 240px; }

        &.a > a > .bg { margin-left: -18%; }
        &.b > a > .bg { margin-left: -36%; }
        &.c > a > .bg { margin-left: -40%; }
        &.d > a > .bg { margin-left: -45%; }

    }
    .box-carousel {
        .box-w2;
        .box-h2;
        .fullscreen {
            position: absolute;
            top: 90%;
            right: 0;
            height: 40px;
            width: 40px;
            color: #808080;
            z-index: 10;
            padding-top: 10px;
            text-align: center;
            font-size: 20px;
            &:hover {
                cursor: pointer;
                color: white;
            }
        }
    }

    .contact {
        color: white;
        padding: 25px;
        ul { padding-left: 5px; }
    }
    .links {
        padding: 25px;
        margin-top: -40px;
        ul { padding-left: 15px; }
        a{
            font-size: 20px;
            color: white;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        img{
            height: 60px;
            width: 60px;
            margin-right: 10px;
            vertical-align:middle;
        }
    }

    .blurb {
        color: white;
        padding: 35px 45px 25px 25px;
        &.box-w2 {
            padding-top: 25px;
            h2 { margin-bottom: 0;}
        }
        img {
            margin-top: -75px;
            height: auto;
            width: 100%;
        }
        p {
            margin: 10px 0;
            padding-top: 5px;
        }
        i {color: #404040; }
    }
    .quote {
        font-size: 35px;
        font-weight: lighter;
        line-height: 92%;
        color: white;
        padding: 50px 25px;;
        overflow: auto;
        a {
            font-weight:800;
            color: white;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        .date {
            color: white;
            float: right;
            font-size: 20px;
            font-style: italic;
            padding-top: 2px;
        }
    }
    .photo {
        .box-hx;
        img {
            margin-left: -7% !important;
        }
    }

    .v360 {
        cursor: pointer;
        img{
            display: block;
            margin: auto;
            height:100%;
            width: auto;
        }
        &:hover {
            background: #202020;
            border: 2px solid black;
        }
    }

    .slides_control {
        height: 100%;
    }
    .carousel {
        height: 100%;

        .item {
            height: 100%;
            overflow: hidden;
        }
        .carousel-inner {
            height: 100%;
        }
        .modalable {
            position: absolute;
            height: 100%;
            width: 100%;
            cursor: pointer;
        }
        img {
            height: 100%;
            max-width: 200%;
            width: auto;
            margin-left: -50px;
        }
    }
        /*
    @font-face {
        font-family: "Roboto";
        src: url("../font/roboto/Roboto-Thin.woff2") format("woff2"), url("../font/roboto/Roboto-Thin.woff") format("woff"), url("../font/roboto/Roboto-Thin.ttf") format("truetype");
        font-weight: 200; }

    @font-face {
        font-family: "Roboto";
        src: url("../font/roboto/Roboto-Light.woff2") format("woff2"), url("../font/roboto/Roboto-Light.woff") format("woff"), url("../font/roboto/Roboto-Light.ttf") format("truetype");
        font-weight: 300; }

    @font-face {
        font-family: "Roboto";
        src: url("../font/roboto/Roboto-Regular.woff2") format("woff2"), url("../font/roboto/Roboto-Regular.woff") format("woff"), url("../font/roboto/Roboto-Regular.ttf") format("truetype");
        font-weight: 400; }

    @font-face {
        font-family: "Roboto";
        src: url("../font/roboto/Roboto-Medium.woff2") format("woff2"), url("../font/roboto/Roboto-Medium.woff") format("woff"), url("../font/roboto/Roboto-Medium.ttf") format("truetype");
        font-weight: 500; }

    @font-face {
        font-family: "Roboto";
        src: url("../font/roboto/Roboto-Bold.woff2") format("woff2"), url("../font/roboto/Roboto-Bold.woff") format("woff"), url("../font/roboto/Roboto-Bold.ttf") format("truetype");
        font-weight: 700; }
        */
    div {
        line-height: 1.5;
        font-family: "Roboto", sans-serif;
        font-weight: normal;
        color: rgba(0, 0, 0, 0.87);
    }

    html {
        line-height: 1.5;
        font-family: "Roboto", sans-serif;
        font-weight: normal;
        color: rgba(0, 0, 0, 0.87); }

    h1, h2, h3, h4, h5, h6 {
        font-weight: 600;
        line-height: 1.1; }

    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
        font-weight: inherit; }

    h1 {
        font-size: 4.2rem;
        line-height: 110%;
        margin: 2.1rem 0 1.68rem 0; }

    h2 {
        font-size: 3.56rem;
        line-height: 110%;
        margin: 1.78rem 0 1.424rem 0; }

    h3 {
        font-size: 2.92rem;
        line-height: 110%;
        margin: 1.46rem 0 1.168rem 0; }

    h4 {
        font-size: 2.28rem;
        line-height: 110%;
        margin: 1.14rem 0 0.912rem 0; }

    h5 {
        font-size: 1.64rem;
        line-height: 110%;
        margin: 0.82rem 0 0.656rem 0; }

    h6 {
        font-size: 1rem;
        line-height: 110%;
        margin: 0.5rem 0 0.4rem 0; }

    em {
        font-style: italic; }

    strong {
        font-weight: 500; }
    i {
        font-style: italic;
    }
}

#custom-modal {
    #overlay {
        position: absolute;
        width: 94%;
        height: 90%;
        top: 5%;
        left: 3%;
        background: black;
        z-index: 16;
    }
    .fade {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: black;
        opacity: 0.5;
        z-index: 15;
    }
    #slides_control {
        height: 100%;
    }
    .close {
        position: absolute;
        top: 0;
        right: 0;
        height: 60px;
        width: 60px;
        color: white;
        z-index: 20;
        padding-top: 10px;
        text-align: center;
        font-size: 30px;
    }
    .carousel {
        height: 100%;
    }
    .carousel-inner{
        height: 100%;
        img{
            height:100%;
            margin: auto;
            max-width: 200%;
        }
        .item {
            overflow: hidden;
        }
    }
    .carousel-control {
        cursor: pointer;
    }
}


.tower {
    display: inline-block;
    border-radius: 8px;
    width: 144px;
    height: 400px;
    background: #888;
    margin-right: 18px;

    &:last-child { margin-right: 0; }
    &:hover { text-decoration: none; }
    &.test { background: #848; }
    &.sms { background: #4f4; }
    &.blog { background: #f44; }
    &.seed { background: #4ff; }

    .title {
        color: white;
        weight: bold;
        font-size: 120px;
        text-indent: -70px;
        line-height: 80px;

        -webkit-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;

        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

.sms {
    .col-md-4{
        padding-left: 0px;
    }
    .col-md-8{
        .col-md-4;
        padding-right: 0px;
    }
    .panel {
        background: #eee;
        border: 1px solid #e8e8e8;
        border-radius: 8px;
        min-height: 400px;
        padding: 10px;

        h3 {
            color: #666;
            padding-left: 4px;
        }

        .reply {
            position: absolute;
            bottom: 30px;
            padding-right: 10px;
        }
        .contact {
            background: #e8e8e8;
            border: 1px solid #ddd;
            margin-bottom: 5px;
            min-height: 40px;
            font-size: 16px;
            font-weight: bold;
            color: #444;
            padding: 2px;
            input{
                margin-bottom: 2px;
            }
            button{
                margin-left: 2px;
            }
            .number {
                color: #aaa;
                font-size: 14px;
                font-weight: 100;
                float: right;
                padding: 6px;
            }
            .name {
                line-height: 34px;
                margin: 8px;
            }
            .btn { float: right; }
        }
    }
}

span.clear { clear: right; display: block; }